Screen {
    background: rgb(39,40,35);
}

#tree-view {
    display: none; 
    scrollbar-gutter: stable;
    overflow: auto;    
    width: 40%;    
    height: 100%;            
    dock: left;       
}

TxtBrowser.-show-tree #tree-view {
    display: block;        
    max-width: 50%;
}


#code-view {
    overflow: auto scroll;  
    min-width: 100%;        
}
#code {
    height: auto;
    width: auto;   
    scrollbar-size-vertical: 1;
}

#fake-code {
    height: auto;                
    width: auto;    
}
